<tr>
  <td>
    <input type="text" value="<%= @user.cas_directory_id %>" name="user[cas_directory_id]" id="user_cas_directory_id">
  </td>
  <td>
    <input type="text" value="<%= @user.name %>" name="user[name]" id="user_name">
  </td>
  <td>
    <button class="btn btn-success"
      hx-put="/users/<%= @user.id %>"
      hx-target='body'
      hx-swap='outerHTML'
      hx-include="#user_cas_directory_id,#user_name"
      hx-vals='{"authenticity_token": "<%= session[:_csrf_token] %>"}'
    >
      Update User
    </button>
    <button class="btn btn-danger"
      hx-get='/users/<%= @user.id %>/cancel_edit'
      hx-target='closest tr'
      hx-swap='outerHTML'
    >
      Cancel
    </button>
  </td>
</tr>
